{% extends "auctions/layout.html" %}

{% block body %}
<article class="listing__details">
    <div class="listing__header">
        <h3>
                Listing: {{ listing.title }}
        </h3>
        {% if user.is_authenticated %}
            <a href="{% url 'watchlist-toggle' listing.pk %}?next={{ request.path|urlencode }}">
                <span class="badge badge-secondary">
                    Watchlist
                </span>
            </a>   
        {% endif %}
    </div>

    <div class="image">
        {% if listing.image %}
        <img src="{{ listing.image }}" alt="">
        {% else %}
        <h3>No Photo</h3>
        {% endif %}
    </div>

    <div class="listing__desc">
        
        <div class="desc">
            {{ listing.description }}
        </div>
    </div>

    <div class="bid">
        <h3>$ {{ actual_price }}</h3>

        {% if user.is_authenticated %}
            {% if listing.active %}
        <form id="bid-form" action="/listing/{{ listing.pk }}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ bid_form }}
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" name="pace-bid" value="Place Bid">
            </div>
        </form>
            {% if owner %}
        <form action="/listing/end/{{ listing.pk }}" id="end-form" method="post">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" name="end-auction" value="End Auction">
        </form>
            {% endif %}
            {% else %}

            {% endif %}
        {% endif %}
        
        <div class="bid__details">
            <h4>Details</h4>
            <ul>
                <li>Listed by: {{ listing.owner }}</li>
                <li>Category:
                    <ul>
                        {% for category in categories %}
                        <li><a href="{% url 'category' category.id %}">{{ category.name }}</a></li>
                        {% empty %}
                        <li>No categories</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div> 
        <hr />
        <div id="comments">
            <h3>Comments</h3>
        {% if user.is_authenticated %}
        <form action="/comments/add/{{ listing.pk }}" id="add-comment" method="post">
            {% csrf_token %}
            {{ comment_form }}
            <input class="btn btn-primary" type="submit" name="add-comment" value="Add Comment">
        </form>
        {% endif %}
            {% for comment in comments %}
            <article class="comment">
                <h4>{{ comment.autor}}</h4>
                <h6>{{ comment.added }}</h6>
                <p>{{ comment.text }}</p>
            </article>
            {% endfor %}
        </div> 
    </div>
</article>
    
{% endblock %}