{% extends "network/post_list.html" %}

{% block before_posts %}
    <div class="all-posts">
        <h1>All Posts</h1>
        {% if user.is_authenticated %}
        <form class="new-post-form" action="/posts", method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ new_post_form }}
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Post">
            </div>
        </form>
        {% endif %}
    </div>
{% endblock %}

{% block posts %}
<post-list></post-list>
{% endblock %}
