html {
    --border: 1px solid rgb(109, 109, 109);
    --radius: 3px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    scroll-behavior: smooth;
}

.navbar {
    padding: 1rem;
}

.all-posts {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

.new-post-form,
.post,
.user-data {
    padding: 1rem;
    border: var(--border);
    border-radius: var(--radius);
    border-collapse: collapse;
}

.new-post-form label {
    font-size: 1.2rem;
}

.post-list {
    display: grid;
    gap: 1rem;
    align-items: start;
    grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
    padding: 1rem;
}

.post-pagination {
    display: flex;
    justify-content: center;
}

.user-profile {
    display: grid;
    justify-content: center;
    padding: 2rem;
}

.user-data {
    display: grid;
    gap: 0.5rem;
}

.like {
    display: flex;
    align-items: center;
}

.like__icon {
    color: red;
    font-size: 1.5rem;
}

.like__number {
    font-size: 1.5rem;
}

.like__icon, .like__number {
    padding: 0.5rem;
}

.like__icon {
    background-color: red;
    display: inline-block;
    height: 1rem;
    margin: 0 0.5rem;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 1rem;
    cursor: pointer;
  }
  
  .like__icon:before,
  .like__icon:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 1rem;
    position: absolute;
    width: 1rem;
  }
  
  .like__icon:before {
    top: -0.5rem;
    left: 0;
  }
  
  .like__icon:after {
    left: 0.5rem;
    top: 0;
  }