body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}


.all-posts {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

.new-post-form {
    padding: 1rem;
    border: 1px solid rgb(109, 109, 109);
    border-radius: 3px;
}

.new-post-form label {
    font-size: 1.2rem;
}

.post-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

.post-pagination {
    display: flex;
    justify-content: center;
}